
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Magic Mirror Viedo Display</title>
		<link rel="stylesheet" href="Modules/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="Modules/css/bootstrap.min.css">
		<link rel="stylesheet" href="Modules/css/video-galllery.css" />

	</head>
	<body>
		<div class="container">
			<!--顶部导航-->
			<div id="head-bar">
				<h1>
					<span class="glyphicon glyphicon-film"></span>
					全部视频
					<hr />
				</h1>
			</div>
			
			<!--运动强度-->
			<div class="exercise-intensity">
				<my-intensity v-for="post in posts"
					:key="post.id"
					:post="post"
					></my-intensity>
			</div>
			<!--视频-->
			<div class="video-gallery-item">
				<my-video v-for="post in posts" 
					v-bind:key='post.id' 
					v-bind:post='post'>
				</my-video>
			</div>
				
			<!--分割线-->
			<hr />
		</div>
	</body>
	<script type="text/javascript" src="Modules/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="Modules/js/vue.js"></script>
	<script type="text/javascript" src="Modules/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="Modules/js/echarts.min.js"></script>
	<script type="text/javascript" src="Modules/js/moment.min.js"></script>
	<script type="text/javascript" src="Modules/js/crypto-js.js"></script>
	<script type="text/javascript" src="Modules/js/hmac-sha1.js"></script>
	<script type="text/javascript" src="Modules/js/video-gallery.js" ></script>
	<script type="text/javascript" src="Modules/js/mui.min.js" ></script>
</html>
